.container--allprojects {
    display: block;
    justify-content: center;
    background: none;
}

.container--allprojects h1 {
    /* border: solid 1px red; */
    display: flex;
    justify-content: center;
    font-size: 2rem;
    /* transform: translate(0px, 140px);  */
    background: none;
}

.project {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    color: var(--primary-color);
}

.project p {
    padding: 5px;
}

.project_tag--dark span,
.project_tag--ligth span {
    padding: 1px;
    margin: 4px;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.project--button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    padding: 0px 10px;
}

.project--button a {
    /* background-color: wheat; */
    margin-top: 10px;
    padding: 3px 10px;
    background: linear-gradient(90deg, rgba(49, 59, 131, 1) 0%, rgba(103, 93, 171, 1) 35%, rgba(152, 126, 208, 1) 56%, rgba(160, 133, 190, 1) 83%, rgba(187, 151, 208, 1) 100%);
    border-radius: var(--border-radius);
    color: aliceblue;
}

@media screen and (min-width:320px) {
    .container--allprojects {
        transform: translate(0px, 70px);
        background: none;
        font-family: 'Nuosu SIL', serif;

    }

    .container--Projects {
        display: grid;
        justify-content: center;
        background: none;
    }

    .project {
        margin-bottom: 4%;
        max-width: 100%;
    }

}

@media screen and (min-width:600px) {
    .container--allprojects {
        transform: translate(0px, 100px);
    }

    .container--Projects {
        display: flex;
        justify-content: space-evenly;
        /* transform: translate(0px, 140px);  */
        background: none;
    }

    .project {
        max-width: 30%;
    }

}